* {
    padding: 0%;
    margin: 0%;
  }
  header {
    display: flex;
    align-items: center;
    background: orange;
    color: white;
    font-size: larger;
  }


  .logo {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: end;
    padding-right: 20px;
  }
  
  nav ul {
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin-right: 15px;
    list-style-type: none;
  }
  
  .slider {
    background: url("../pizza.jpg");
    background-size: cover;
    height: 100vh;
  }
  
  .pizza-specials {
    margin-top: 80px;
    text-align: center;
  }
  
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card {
    border: 1px orange;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 1px 1px rgb(255, 227, 175);
  }
  
  .card:nth-child(1):hover {
    transition: 2s;
    transform: rotate(360deg);
  }
  .card:nth-child(2):hover {
    transition: 2s;
    transform: scaleX(-1);
  }
  .card:nth-child(3):hover {
    transition: 2s;
    transform: rotate(-360deg);
  }
  
  .testimonials {
    margin-top: 80px;
    text-align: center;
    font-size: x-large;
  }
  
  .comment {
    margin-top: 50px;
  }
  
  .auth {
    padding-top: 20px;
  }
  
  .cta {
    text-align: center;
    margin-top: 80px;
    font-size: large;
  }
  
  .three-columns {
    margin-top: 100px;
  }
  
  .col {
    border: 1px solid;
    padding: 30px;
    border-radius: 2px;
    margin: 0px 70px 1px 70px;
    text-align: left;
  }
  
  footer {
    padding: 20px;
    color: white;
    text-align: center;
    background: orange;
  }

button{
  margin-top: 10px;
  background-color: green;
  color: white;
  width: 100px; 
  height: 45px;
  border: 0px solid;
  border-radius: 5px;
}
button:hover{
    background-color: orange;
    transition-duration: 2s;
}
input[type=text],input[type=email],input[type=tel],textarea[id=message]{
    width: 100%;
    padding: 10px 20px;
    margin: 7px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .contact-form {
    width: 35%;
    height: 90%;
    margin-top: 2%;
    margin-left: 30%;
    border-radius: 5px;
    padding: 25px;
    background-color: white;
  }